@import url('fonts.css');

a {
	text-decoration:none;
	color:#f36c42;
 -o-transition:color .2s ease-out, background .2s ease-in;
 -ms-transition:color .2s ease-out, background .2s ease-in;
 -moz-transition:color .2s ease-out, background .2s ease-in;
 -webkit-transition:color .2s ease-out, background .2s ease-in;
  transition:color .2s ease-out, background .2s ease-in;
	outline:none;
}
a:hover {
	color:#62666a;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
img {
	border:0;
}
body {
	font-family:'open_sansregular', Arial, Helvetica, sans-serif;
	color:#353535;
	font-size:16px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav span.nav-icon {
	display:none;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input, select {
	vertical-align:middle;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, textarea {
	display: inline-block;	
	padding:10px 10px;
	font-size: 14px;	
	color: #495157;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;	
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #cdd3d8;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	margin-bottom:11px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .SelectDropdonw:focus {
	border-color: #4daee9;
	outline: 0;
	outline:none;
	-webkit-box-shadow: inset 0 1px 1px #c9ebff, 0 0 8px #c9ebff;
	-moz-box-shadow: inset 0 1px 1px #c9ebff, 0 0 8px #c9ebff;
	box-shadow: inset 0 1px 1px #c9ebff, 0 0 8px #c9ebff;
}
input.large[type="text"] {
	font-size:19px;
	color:#5f5f5f;
	margin:0;
}
input:-moz-placeholder, textarea:-moz-placeholder {
 color: #495157;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #495157;
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #495157;
}
input[type="submit"] {
	border:1px solid #b4bcc3;
	background: #f3f7f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f7f9 0%, #eaedef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f7f9), color-stop(100%,#eaedef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f7f9 0%,#eaedef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f7f9 0%,#eaedef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f7f9 0%,#eaedef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f7f9 0%,#eaedef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f7f9', endColorstr='#eaedef',GradientType=0 ); /* IE6-9 */
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:8px 20px 7px;
	-moz-box-shadow: inset 1px 1px #fff;
	-webkit-box-shadow: inset 1px 1px #fff;
	box-shadow: inset 1px 1px #fff;
	color:#495157;
	border-radius:5px;
	cursor:pointer;
	text-shadow:1px 1px 1px #fff;
}
input[type="submit"]:hover {
	background: #f3f7f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f7f9 0%, #dee2e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f7f9), color-stop(100%,#dee2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f7f9 0%,#dee2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f7f9 0%,#dee2e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f7f9 0%,#dee2e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f7f9 0%,#dee2e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f7f9', endColorstr='#dee2e4',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:focus {
	outline:none;
}
.wripper {
	float:left;
	width:100%;	
}
header {
	float:left;
	width:100%;
	background:url(../images/header-bg.jpg) no-repeat center center #f8f8f8;
	height:136px;
	/*border-bottom:1px solid #ccc9c6;*/
}
.container {
	margin:auto;
	width:1000px;
}
header .container {
	background:url(../images/strip.jpg) no-repeat right top;
	height:136px;
}
h1.logo {
	float:left;
	text-indent:-9999px;
	margin:11px 0 0;
}
h1.logo a {
	float:left;
	width:87px;
	height:116px;
	background:url(../images/dohub.png) no-repeat center center;
}
h2 {
	font-size:35px;
	font-family:'open_sanslight';
	text-align:center;
	color:#606060;
	float:left;
	font-weight:normal;
}
h3 {
	font-size:30px;
	font-family: 'open_sansbold';
	color:#353535;
	background:url(../images/orange-line-bar.png) no-repeat left bottom;
	padding:0 0 15px;
	line-height:38px;
}
header .rightCol {
	float:right;
	margin:28px 0 0;
	width:430px;
}
.greenBt {
	float:left;
	background:#85a930;
	color:#fff;
	border-radius:20px;
	line-height:42px;
	padding:0 40px;
	box-shadow:1px 1px 1px #287307;
}
.greenBt:hover {
	background:#6acff6;
	color:#fff;
	box-shadow:1px 1px 1px #55b3d8;
}
header .rightCol .greenBt {
	float:right;
}
nav {
	float:right;
	margin:20px 0 0;
	width:100%;
}
nav ul {
	float:left;
	list-style-type:none;
}
nav ul li {
	float:left;
	margin:0 0 0 45px;
}
nav ul li a {
	font-size:17px;
	float:left;
	color:#39250d;
}
nav ul li a:hover, nav ul li.current a {
	color:#f26c42;
}
.banner {
	float:left;
	width:100%;
	position:relative;
	text-align:center;
	overflow:hidden;
	color:#fff;
}
.banner .contentContainer {
	position:absolute;
	top:90px;
	width:100%;
}
.banner .mapContainer {
	position:absolute;
	top:0px;
	width:100%;
}
.banner .contentContainer .inner {
	margin:auto;
	width:820px;
}
#map_canvas {
	width:100%px;
	height:470px;
}
.banner .contentContainer span {
	background:url(../images/black-bg.png) repeat center center;
	padding:0 5px;
	font-size:45px;
	display:inline-table;
	margin:0 0 3px;
}
.banner .contentContainer p {
	display:inline-table;
	width:100%;
	font-size:20px;
	padding:10px;
	background:url(../images/black-bg.png) repeat center center;
	margin:22px 0 0;
	font-family: 'open_sanslight';
}
.banner .contentContainer form {
	margin:58px auto 0;
	width:558px;
	display:table;
}
.banner input[type="text"] {
	border-radius:28px;
	background:#fff;
	border:0;
	color:#c1c1c1;
	font-family: 'open_sanslight';
	font-size:20px;
	width:402px;
	padding:15px 28px;
	float:left;
	margin:auto;
}
.banner input[type="submit"] {
	background:#f26c42;
	border-radius:28px;
	font-family: 'open_sanssemibold';
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-shadow:none;
	border:0;
	float:right;
	box-shadow:0px 1px 1px #8a2404;
	padding: 15px 25px;
}
.banner input[type="submit"]:hover {
	background:#6acff6;
	color:#fff;
	box-shadow:0px 1px 1px #55b3d8;
}
.contentArea {
	float:left;
	width:100%;
	margin:30px 0;
}
.one-col-full, .two-col-full, .thr-col-full {
	float:left;
	width:100%;
	margin:0 0 57px;
}
.border-bottom {
	border-bottom:1px solid #eeeeee;
}
.two-col-full .col-small {
	float:left;
	width:45%;
}
.two-col-full .col-large {
	width:55%;
	float:left;
}
.margin-left-120 {
	margin-left:-120px;
}
.margin-left-30 {
	margin-left:-30px;
}
.margin-bottom_25 {
	margin-bottom:25px;
}
.two-col-full .col-large img {
	float:left;
}
.two-col-full .col-small ul {
	float:left;
	list-style-type:none;
	width:100%;
}
.two-col-full .col-small ul li {
	float:left;
	width:100%;
	margin:25px 0 0;
}
.two-col-full .col-small ul li .img {
	float:left;
	width:40px;
	margin:3px 0 0;
}
.two-col-full .col-small ul li span {
	display:table-cell;
	list-style-type:none;
	font-size:18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.thr-col-full .col_1 {
	width:320px;
	padding-top: 3px;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 30px;
	float: left;
}
.thr-col-full .col_2 {
	width:320px;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	float: left;
}
.thr-col-full .col_3 {
	width:320px;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 30px;
	float:left;
}
.thr-col-full img {
	width:320px;
	height:auto;
}
.thr-col-full p {
	font-size:15px;
	padding-top:7px;
	padding-bottom:3px;
}
.thr-col-full .person {
	font-size:13px;
}
.home-works-Container h2 {
	width:100%;
	text-align:center;
}
.home-works-Container ul {
	float:left;
	width:100%;
	list-style-type:none;
	margin:45px 0 50px;
}
.home-works-Container ul li {
	float:left;
	margin:0 0 0 66px;
	width:163px;
}
.home-works-Container ul li a {
	float:left;
	width:100%;
	text-align:center;
	color:#1e1e1e;
	font-size:21px;
	font-family: 'open_sanslight';
}
.home-works-Container ul li a.business span, .home-works-Container ul li a.services_providers span, .home-works-Container ul li a.freelancers span, .home-works-Container ul li a.enterprises span {
	float:left;
	width:100%;
	height:116px;
	background:url(../images/business.png) no-repeat center top;
	margin:0 0 17px;
}
.home-works-Container ul li a.services_providers span {
	background:url(../images/services_providers.png) no-repeat center top;
}
.home-works-Container ul li a.freelancers span {
	background:url(../images/freelancers.png) no-repeat center top;
}
.home-works-Container ul li a.enterprises span {
	background:url(../images/enterprises.png) no-repeat center top;
}
.home-works-Container ul li a:hover {
	color:#6acef6;
}
.home-works-Container ul li a:hover span {
	background-position:center bottom;
	 -o-transition:color .2s ease-out, background .2s ease-in;
 -ms-transition:color .2s ease-out, background .2s ease-in;
 -moz-transition:color .2s ease-out, background .2s ease-in;
 -webkit-transition:color .2s ease-out, background .2s ease-in;
  transition:color .2s ease-out, background .2s ease-in;
}
.centerBt-Full {
	float:left;
	width:100%;
	background:url(../images/content-sep-line.jpg) repeat-x center center;
	height:74px;
	text-align:center;
}
.orangeLink, .blueLink {
	background:#f26c42;
	width:243px;
	height:55px;
	text-align:center;
	line-height:52px;
	border:9px solid #f0f0f0;
	border-radius:40px;
	display:inline-block;
	color:#fff;
	font-size:18px;
	font-family: 'open_sanssemibold';
}
.orangeLink:hover {
	background:#6acff6;
	color:#fff;
}
.blueLink {
	background:#6acff6;
}
.blueLink:hover {
	background:#f26c42;
	color:#fff;
}
.smallLink {
	background:#6acff6;
	text-align:center;
	font-size:16px;
	color:#fff;
	font-family: 'open_sanssemibold';
	display:inline-block;
	padding:15px;
	margin-left:10px;
	margin-right:10px;
	border:8px solid #f0f0f0;
	border-radius:40px;
}
.smallLink:hover {
	color: #f26c43;
	background:#ffffff;
}
.position-relative {
	position:relative;
}
.home-testimonials {
	margin:0;
	background:url(../images/testimonials-bg.png) no-repeat center top;
	padding-bottom:25px;
}
.home-testimonials h2 {
	width:100%;
	text-align:center;
	line-height:152px;
	margin-bottom:15px;
}
.home-testimonials ul {
	float:left;
	width:100%;
	list-style-type:none;
}
.home-testimonials ul li {
	float:left;
	width:333px !important;	
	text-align:center !important;
	margin:0 !important;
}
.home-testimonials ul li img {
	border-radius:50%;
}
.home-testimonials ul li span {
	float:left;
	width:100%;
	font-size:17px;
	padding:15px 0 10px;
}
.home-testimonials ul li span b {
	color:#898989;
	font-weight:normal;
}
.home-testimonials ul li p {
	font-size:14px;
	font-family: 'open_sanslight';
	float:left;
	text-align:center;
	width:70%;
	padding:0 15%;
}
.tes-testimonials {
	margin:0;
	padding-bottom:10px;
}
.tes-testimonials ul {
	float:left;
	width:100%;
	list-style-type:none;
}
.tes-testimonials ul li {
	float:left;
	width:1000px; !important;	
	text-align:center !important;
	margin:0 !important;
}
.tes-testimonials img{
	float:right;
	width:620px;
}
.tes-testimonials ul li span {
	float:left;
	width:350px;
	font-size:14px !important;
	text-shadow:-1px -1px #333;
	padding:15px 0 10px;
}
.tes-testimonials ul li span b {
	text-shadow:-1px -1px #000;
	font-weight:normal;
}
.tes-testimonials ul li blockquote {
	color:#333;
	font-size:26px;
	font-family: 'open_sanslight';
	float:left;
	text-align:center;
	width:350px;
	padding:15px 0 10px;
}
footer {
	float:left;
	width:100%;
	background:url(../images/footer-bg-top.jpg) no-repeat center top;
	padding:99px 0 0;
	font-size:12px;
	color:#a8a7a7;
}
footer article {
	float:left;
	width:100%;
	background:url(../images/footer-bg.jpg) no-repeat center top #3d4c4f;
	padding:45px 0 35px;
}
footer ul {
	float:left;
	width:130px;
	list-style-type:none;
	margin:0 20px 0 0;
}
footer ul li {
	float:left;
	width:100%;
	margin:6px 0 0;
}
footer h6 {
	color:#6acff6;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 13px;
	font-size:12px;
}
footer ul li a {
	color:#a8a7a7;
}
footer ul li a:hover, footer ul li.current a {
	color:#f36c42;
}
footer ul.social {
	width:260px;
	margin:0;
}
footer ul.social li {
	float:left;
	width:auto;
	margin:5px 30px 0 0;
}
footer ul.social li a.facebook, footer ul.social li a.twitter, footer ul.social li a.dribbble, footer ul.social li a.rss {
	float:left;
	width:34px;
	height:34px;
	background:url(../images/facebook.png) no-repeat center center;
	text-indent:-9999px;
	border-radius:50%;
}
footer ul.social li a.twitter {
	background:url(../images/twitter.png) no-repeat center center;
}
footer ul.social li a.dribbble {
	background:url(../images/dribbble.png) no-repeat center center;
}
footer ul.social li a.rss {
	background:url(../images/rss.png) no-repeat center center;
}
footer ul.social li a:hover {
	background-color:#f36c42;
}
footer ul li:first-child {
	margin:0;
	width:100%;
}
footer .copyRight {
	float:left;
	width:100%;
	background:url(../images/sep.png) repeat-x center top;
	margin:40px 0 0;
	padding:20px 0 0;
}
.orangeClr {
	color:#f36c42;
}
.wallOfText {
	text-indent:20px;
	line-height:150%;
	padding-left:90px;
	padding-right:90px;
	padding-top: 10px;
	padding-bottom: 8px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	width:0;
	height:0
}